@import "tailwindcss";

@theme {
  --color-background: #1a1a1a;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: var(--color-background);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
